:root {
	--texts-second: #333;
	--texts-error: #ff5757;
	--texts-hover: #756157;
	--texts-active: rgba(117, 97, 87, 0.3);
	--texts-texts-basic: #000;
	--texts-background-deafault: #fff;
	--texts-background-small: rgba(255, 255, 255, 0.3);
	--texts-background-hover: rgba(255, 255, 255, 0.6);
	--texts-background-active: rgba(255, 255, 255, 0.3);
	--buttons-basic: #756157;
	--buttons-second: #82b3d3;
	--buttons-select: #7db54f;
	--buttons-disabled: #e5e5e5;
	--buttons-brown-hover: #615048;
	--buttons-blue-hover: #68a2ca;
	--buttons-green-hover: #6c9e42;
	--background-basic-1: #fff;
	--background-basic-2: rgba(0, 0, 0, 0.3);
	--background-basic-3: #82b3d3;
	--background-second-1: rgba(131, 179, 211, 0.12);
	--background-second-2: rgba(131, 179, 211, 0.2);
	--icons-basic: #000;
	--icons-second: #83b3d3;
	--icons-text: #7db54f;
	--icons-hover: #756157;
	--icons-active: rgba(117, 97, 87, 0.3);
	--icons-second-hover: #68a2ca;
	--icons-second-active: rgba(104, 162, 202, 0.3);
	--forms-inputs: #3f5e72;
	--forms-elements-1: #e5e5e5;
	--forms-elements-2: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-2);
  margin: 0;
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--texts-background-deafault);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
  column-gap: 32px;
}

.main-header-link {
  margin-bottom: -10px;
  position: relative;
  z-index: 1;
  transition: opacity 250ms ease-in-out;
}

.main-header-link:hover {
  opacity: 0.8;
}

.navigation {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 9px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 270px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--texts-texts-basic);
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 12px;
}

.navigation-user-link {
  display: block;
  padding: 12px 17px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-link:not(.navigation-link-current):hover {
  color: var(--texts-hover);
}

.navigation-user-link:hover {
  background-color: var(--forms-elements-2);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  height: 2px;
  background-color: var(--texts-hover);
}

.navigation-user .button {
  margin-left: 17px;
}

.navigation-user-link.search {
  background-image: url("../images/icons/search.svg");
}

.navigation-user-link.favourites {
  background-image: url("../images/icons/favourite.svg");
}

.favourites-count {
  position: absolute;
  right: -2px;
  top: -8px;
  background-color: var(--buttons-select);
  color: var(--texts-background-deafault);
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  padding: 5px;
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--buttons-basic);
  color: var(--texts-background-deafault);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.button:hover {
  background-color: var(--buttons-brown-hover);
}

.button:focus-visible {
  outline: 3px solid var(--buttons-second);
  outline-offset: 1px;
}

.button:disabled {
  background-color: var(--buttons-disabled);
  cursor: default;
}

.button:active {
  color: var(--texts-background-active);
}

.button-action {
  background-color: var(--buttons-second);
}

.button-action:hover {
  background-color: var(--buttons-blue-hover);
}

.button-favourited {
  background-color: var(--buttons-select);
}

.button-favourited:hover {
  background-color: var(--buttons-green-hover);
}

.button-transparent {
   background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.button-small {
  padding: 8px 8px;
}

.button-wide {
  width: 100%;
  border-radius: 4px;
  padding: 12px 50px;
}

.filter-button-submit,
.filter-button-reset {
  width: 191px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
}

.hero {
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--texts-texts-basic);
  background-color: #3F494E;
  background-image: url("../images/decor/background-divider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 20px;
  margin-bottom: 69px;
}

.main-welcome-image {
  display: block;
  margin: 0 auto;
}

.item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.item-dark {
  background-color: var(--buttons-second);
  color: var(--texts-background-deafault);
}

.advantages-header {
  max-width: 720px;
  margin: 0 auto 92px;
  text-align: center;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-wrap {
  word-spacing: 100px;
}

.advantages-item-small {
  padding: 112px 85px;
}

.advantages-image {
  display: block;
  flex: 1;
  object-fit: cover;
  min-width: 0;
  height: 100%;
}

.advantages-main-title,
.services-title,
.search-offer-title {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-title,
.services-item-title,
.subscription-title {
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--texts-texts-basic);
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-title {
  max-width: 172px;
}

.services-item-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--texts-texts-basic);
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--background-basic-2);
  margin: 30px auto;
}

.item-dark .advantages-item-title {
  color: var(--texts-background-deafault);
}

.item-dark .advantages-item-title::after {
  background-color: var(--texts-background-small);
}

.item-dark .advantages-description {
  color: var(--texts-background-deafault);
}

.advantages-description,
.services-item-description {
  margin: 0;
  padding: 0;
  color: var(--texts-second);
  text-align: center;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: var(--texts-second);
  max-width: 660px;
  margin: 25px auto 69px;
}

.services-subtitle,
.search-offer-subtitle,
.subscription-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  max-width: 660px;
}

.search-offer-subtitle,
.subscription-subtitle {
  margin: 20px auto 54px;
}

.advantages-item:nth-child(1) {
  display: flex;
  flex-direction: row;
  grid-column: 1 / -1;
}

.advantages-item:last-child {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 1 / -1;
}

.advantages-text-content {
  flex-basis: 400px;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services {
  padding-top: 64px;
}

.services-title {
  margin: 0 auto 20px;
  max-width: 500px;
}

.services-subtitle {
  margin: 20px auto 64px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  flex: 1 1 400px;
  padding: 81px 85px;
}

.services-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.accommodation::before {
  background-image: url("../images/icons/hotels.svg");
}

.food::before {
  background-image: url("../images/icons/food.svg");
}

.souvenirs::before {
  background-image: url("../images/icons/souvenirs.svg");
}

.hotel-search-offer {
  text-align: center;
  padding: 96px 30px;
}

.search-offer-link {
  display: inline-block;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.subscription-input {
  min-width: 452px;
  flex-grow: 1;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--forms-elements-2);
  color: #000;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form-button {
  flex-shrink: 0;
  min-width: 232px;
  max-width: 232px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;

}

.subscription.background {
  background-image: url("../images/decor/subscribe-background.jpg");
  color: var(--texts-texts-basic);
  background-color: #3F494E;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 96px 30px 105px;
  text-align: center;
}

.subscription-title.different-background {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-background-deafault);
  text-align: center;
  text-transform: uppercase;
}

.subscription-subtitle.different-background {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-background-deafault);
  text-align: center;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.socials-list {
  list-style-type: none;
  width: 144px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.socials-link::before {
  content: "";
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: var(--icons-second);
  transition: background-color 250ms ease-in-out;
}

.socials-link:hover::before,
.socials-link:focus-visible::before {
  background-color: var(--icons-second-hover);
}

.socials-link:active::before {
  background-color: var(--icons-second-active);
}

.socials-link-vk::before {
  width: 24px;
  height: 14px;
  mask-image: url("../images/icons/socials/vk-icon.svg");
}

.socials-link-telegram::before {
  mask-image: url("../images/icons/socials/tg-icon.svg");
  width: 18px;
  height: 15px;
}

.socials-link-youtube::before {
  mask-image: url("../images/icons/socials/youtube-icon.svg");
  width: 22px;
  height: 17px;
}

.contacts-address {
  max-width: 500px;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: color 250ms ease-in-out;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--icons-hover);;
}

.contacts-phone:active {
  color: var(--icons-active);
}

.academy-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.academy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 33px;
  outline: none;
}

.academy-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  background-color: var(--texts-texts-basic);
  mask-image: url("../images/icons/html-academy-logo.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 250ms ease-in-out;
}

.academy-link:hover::before,
.academy-link:focus::before {
  background-color: var(--icons-hover);;
}

.academy-link:active::before {
  background-color: var(--icons-active);
}

.catalog {
  flex-grow: 1;
}

.catalog-header {
  padding: 35px 70px 70px;
  background-image: url("../images/decor/filter-background.jpg");
  color: var(--texts-texts-basic);
  background-color: #3F494E;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--texts-background-deafault);
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  background-image: url("../images/icons/breadcrumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-link {
  font-family: inherit;
  color: var(--texts-background-deafault);
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  transition: opacity 250ms;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-item:first-child .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item:first-child .breadcrumbs-link:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  row-gap: 32px;
}

.filter-field-group {
  width: 150px;
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.filter-field-group:nth-child(3) {
  width: 288px;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
}

.filter-form-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.filter-form-title {
  color: var(--texts-background-deafault);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;

}

.filter-form-button-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.filter-form-item {
  font-family: inherit;
  color:  var(--texts-background-deafault);
  font-size: 18px;
  line-height: 23px;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  transition: opacity 250ms;
  padding-left: 36px;
  outline: none;
}

.checkmark-field {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--texts-background-deafault);
}

.filter-input[type="checkbox"]:checked + .checkmark-field::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../images/icons/check-mark.svg");
  background-repeat: no-repeat;
}

.filter-input[type="radio"] + .checkmark-field {
  border-radius: 50%;
}

.filter-input[type="radio"]:checked + .checkmark-field::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--forms-inputs);;
  border-radius: 50%;
}

.filter-label:hover {
  opacity: 0.6;
}

.filter-label:active {
  opacity: 0.3;
}

.filter-input:focus-visible + .checkmark-field {
  outline: none;
  box-shadow: 0 0 0 3px var(--buttons-second);
}

.filter-input[type="checkbox"]:active + .checkmark-field {
  outline: 2px solid var(--buttons-second);
}

.range-scale-wrapper {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 43px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--texts-background-deafault);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--texts-background-deafault);
  cursor: pointer;
}

.min-price-toggle {
  top: -8px;
  right: 0;
}

.max-price-toggle {
  top: -8px;
  left: 0;
}

.label-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--texts-texts-basic);
  opacity: 0.6;
  text-transform: lowercase;
}

.price-range-input-label {
  position: absolute;
  top: 12px;
  right: 21px;
  color: rgba(0, 0, 0, 0.3)
}

.range-wrapper {
  position: relative;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin: 32px 0 36px;
}

.price-range-input::-webkit-outer-spin-button,
.price-range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-range-input {
  width: 143px;
  padding: 12px 20px;
  background-color: var(--forms-elements-2);
  color: var(--texts-texts-basic);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  -moz-appearance: textfield;
}

.price-range-input:hover {
  background-color: var(--texts-background-hover);
}

.price-range-input:focus-visible {
  outline: 3px solid var(--buttons-second);
}

.price-range-input-min {
  border-radius: 4px 0 0 4px;
}

.price-range-input-max {
  border-radius: 0 4px 4px 0;
}

.view-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px 40px;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
}

.select-view-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  gap: 70px;
}

.select-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  color: var(--texts-texts-basic);
  background-color: var(--texts-background-deafault);
  padding: 13px 36px 13px 18px;
  border: 2px solid var(--forms-elements-1);
  border-radius: 4px;
  appearance: none;
  position: relative;
  background-image: url("../images/icons/arrow-downward.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: right 18px center;
  transition: border-color 250ms ease-in-out;
}

.select-control:hover {
  outline: 3px solid var(--buttons-second);
}

.select-control:focus-visible {
  outline: 3px solid var(--buttons-second);
}

.select-control:disabled {
  border-color: var(--background-basic-2);
  color: var(--background-basic-2);
  opacity: 0.6;
}

.select-control:disabled:hover {
  outline: none;
}

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.view-item-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  padding: 14px 12px;
  background-repeat: no-repeat;
  background-position: center;
  transition: border-color 250ms;
}

.view-item-link:hover,
.view-item-link:active {
  border-color: var(--texts-texts-basic);
}

.view-item-link:focus-visible {
  outline: none;
  border-color: var(--buttons-second);
}

.view-item-link.current {
  border: 2px solid var(--texts-texts-basic);
}

.view-tile {
  background-image: url("../images/icons/grid.svg");
}

.view-card {
  background-image: url("../images/icons/card.svg");
}

.view-list {
  background-image: url("../images/icons/list.svg");
}

.hotels-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin: 0 0 40px;
  padding: 0 70px 40px;
  position: relative;
}

.hotels-list::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 70px;
  right: 70px;
  height: 1px;
  background-color: var(--buttons-disabled);
}

.hotels-list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr auto;
  gap: 16px 20px;
  padding: 20px 20px 21px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--buttons-disabled);
}

.hotels-list-item-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: inherit;
}

.hotels-list-item-title {
  margin: 16px 0 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--texts-texts-basic);
}

.hotels-list-item-type {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-texts-basic);
}

.hotels-list-item-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-texts-basic);
  text-align: right;
  justify-self: end;
}

.hotels-list-item-stars {
  padding: 0;
  margin: 9px 0 0;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space repeat;
  background-position: center;
  background-size: contain;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.hotels-list-item-rating {
  margin: 0;
  padding: 8px 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--forms-elements-2);
  align-self: center;
}

.hotels-list-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 60px 70px
}

.pagination-item {
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 4px;
}

.pagination-item-link {
  display: flex;
  min-width: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--texts-background-deafault);
  text-transform: uppercase;
  background-color: var(--buttons-second);
  text-decoration: none;
  border-radius: 4px;
  padding: 0;
  transition: background-color 250ms ease-in-out;
}

.pagination-item-link:hover {
  background-color: var(--buttons-blue-hover);
}

.pagination-item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-link:focus-visible {
  outline: none;
  background-color: var(--buttons-blue-hover);
}

.pagination-item-link.current {
  background-color: var(--forms-elements-2);
  color: var(--texts-texts-basic);
}

.pagination-item-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 23px;
}

.subscription {
  padding: 96px 30px 105px;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-align: center;
  text-transform: uppercase;
}

.subscription-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-texts-basic);
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
    z-index: 2;
}

.modal-container-hidden {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: var(--texts-background-deafault);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-hotel-search {
  width: 717px;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: var(--forms-elements-2);
  cursor: pointer;
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  background-image: url("../images/icons/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
  padding-right: 130px;
  margin: 0 0 64px;
}

.field-group {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}


.counter-wrapper {
  display: flex;
  gap: 88px;
  align-items: flex-start;
}

.field-label {
  width: 137px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--texts-texts-basic);
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
}

.field-date {
  width: 100%;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--forms-elements-2);
  border: none;
  border-radius: 4px;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.field-date:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.field-date:focus-visible{
  outline: 3px solid var(--buttons-blue-hover);
}

.user-message {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 55px;
  left: 20px;
  font-size: 16px;
  line-height: 21px;
}

.error-text {
  color: var(--texts-error);
}

.guest-counter {
  display: flex;
  align-items: center;
  gap: 46px;
}

.guest-counter .field-label {
  width: auto;
}

.counter-controls {
  display: flex;
  width: 110px;
  height: 48px;
}

.counter-field {
  width: 31px;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: var(--forms-elements-2);
  appearance: textfield;
  padding: 0;
  border-radius: 0;
}

.counter-field::-webkit-outer-spin-button,
.counter-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter-button {
  width: 40px;
  border: none;
  background-color: var(--forms-elements-2);
  cursor: pointer;
  position: relative;
}

.counter-button::before,
.counter-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: #ccc;
  transform: translate(-50%, -50%);
  transition: background-color 250ms;
}

.counter-button.plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.counter-button.minus {
  border-radius: 4px 0 0 4px;
}

.counter-button.plus {
  border-radius: 0 4px 4px 0;
}

.counter-button:hover::before,
.counter-button:hover::after {
  background-color: #000;
}

.counter-button:active::before,
.counter-button:active::after {
  background-color: #ccc;
}
.tooltip-container {
  position: relative;
}

.with-tooltip {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tooltip-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: var(--background-basic-3);
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-text {
  display: none;
  width: 256px;
  background-color: var(--texts-second);
  color: #fff;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--texts-second) transparent;
}

.tooltip-icon:focus + .tooltip-text {
  display: block;
}

.button-wide:focus-visible {
  background-color: var(--buttons-blue-hover);
  outline: none;
}
